core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt

mongodb+srv://craven6622:2dNKitWiU95TQzpD@cluster0.4lhto.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0