{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>

    <p>
        Cook delicious dishes easily and reliably.
        On each recipe you can select the number of required portions from 2 to 30, the site will calculate the right
        amount of quantities you will need.
        You can filter food types like Vegan, Vegetarian, Seafood or Meat dishes.
        Also, the most popular, by author (display name), most recent or country cuisine like Indian or British etc.
    </p>
    <p>
        Please Register & Use all our facilities totally for Free.
        Write, and Store your own recipes here using our easy Recipe upload template and Add a Recipe.
        You have a choice to either place on the public list and share your delicious food with all of us, or keep
        privately accessed via your free account login info in My Recipes. All your recipes will be added to your My
        Recipes.
        Re-write and modify listed recipes or Write My Version.
    </p>

    <div class="row featurette">
        <div class="col-md-7">

            <h4>
                Make a Comment
            </h4>
        
            <p>
                At the bottom right of each recipe there is a green button, here you can leave a comment about the recipe. These
                comments will appear at the bottom of the recipe. The author of the recipe will need to approve comments before
                it is published. The author can also reply to your comments. The latest comments will populate at the top.
            </p>

        </div>
        <div class="col-md-5">

            <img src="{{ url_for('static', filename= 'assets/img/food-image-blog.jpeg') }}" alt="">

        </div>
    </div>  
    

    <div class="row featurette">
        <div class="col-md-5">
            <img src="{{ url_for('static', filename= 'assets/img/weighing-food-image.jpeg') }}" alt="">
        </div>
        <div class="col-md-7">

            <h4>
                Weighing out ingredients
            </h4>
        
            <p>
                We highly recommend but is not compulsory to convert all ingredients into gram measurements wherever possible,
                you can do this with 2 sets of accurate electronic kitchen scales, one from 10k to 1g and a fine set of accurate
                scales to 0.01g, for 1/8 or 1/4 tsp measurements, this helps with consistency, ease and any future
                modifications.
            </p>

        </div>
    </div>
    

{% endblock %}