{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/sschicken.jpg') }}" class="img-fluid rounded-start"
                alt="Sweet & sour chicken">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Sweet & sour chicken</h5>
                    <br>
                    <h5>Ingredients</h5>
                    <ul>
                        <li>sunflower or vegetable oil, for frying</li>
                        <li>100ml soda water, chilled</li>
                        <li>140g self-raising flour</li>
                        <li>25g cornflour</li>
                        <li>4 skinless, boneless chicken breasts, cut into chunks</li>
                        <li>spring onions, finely shredded, to serve</li>
                        <li><strong>For the sauce</strong></li>
                        <li>1 red pepper, deseeded and chopped into chunks</li>
                        <li>3 red chillies, 1 cut into chunks, 2 halved and deseeded</li>
                        <li>425g can pineapple chunks, drained and juice reserved</li>
                        <li>4 star anise</li>
                        <li>50g tamarind paste</li>
                        <li>100g caster sugar</li>
                        <li>100ml rice wine vinegar or Chinese vinegar</li>
                    </ul>
                    <br>
                    <h5>Method</h5>
                    <p class="card-text"><strong>STEP 1</strong>
                        <br>
                        For the sauce, put the red pepper, chunks of chilli and pineapple juice in a pan and bring to
                        the boil. Cover and cook for 10 mins, then purée in a food processor. Return to the pan with the
                        pineapple chunks, chilli halves, star anise, tamarind, sugar and vinegar. Gently simmer for
                        20-30 mins until reduced and sticky. Keep warm, or reheat to serve.
                        <br>
                        <br>

                        <strong>STEP 2</strong>
                        <br>
                        Fill a large pan 1cm deep with oil and heat until shimmering. Whisk the soda water and 100ml
                        cold water into the self-raising flour with a little salt. Tip the cornflour onto a plate, line
                        a tray with kitchen paper and turn on the oven to low.
                        <br>
                        <br>

                        <strong>STEP 3</strong>
                        <br>
                        Stir the batter well. Dust the chicken with cornflour, then dip into the batter. One at a time,
                        lower into the hot oil (about 5-6 every batch). Turn up the heat to keep the chicken frying, if
                        needed, and cook for 5-6 mins, turning once. When cooked, drain on the tray, and keep warm in
                        the oven. Repeat with the remaining chicken. Stack onto a plate with the warm sauce on the side,
                        and scatter with shredded spring onions.
                    </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/singapore.jpg') }}"
                class="img-fluid rounded-start" alt="Singapore noodles with prawns">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Singapore noodles with prawns/h3>
                <br>
                <h5>Ingredients</h5>

                <ul>
                    <li>2 nests thin vermicelli rice noodles</li>
                    <li>1 tbsp light soy sauce</li>
                    <li>1 tbsp oyster sauce</li>
                    <li>2 tsp mild curry powder</li>
                    <li>1 tbsp sesame oil</li>
                    <li>1 garlic clove, chopped</li>
                    <li>1 red chilli, thinly sliced (deseeded if you don't like it too hot)</li>
                    <li>thumb-sized piece ginger, grated</li>
                    <li>1 medium onion, sliced</li>
                    <li>1 red pepper or yellow pepper, cut into thin batons</li>
                    <li>4 spring onions, cut in half lengthways then into batons</li>
                    <li>8 raw king prawns</li>
                    <li>1 large egg, beaten</li>
                    <li>coriander leaves, to serve</li>
                </ul>
                <h5>Method</h5>

                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Soak the rice noodles in warm water for 5 mins until softened but still al dente. Drain and set
                    aside.

                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    In a small bowl, mix together the soy and oyster sauce.
                    <br>
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    In a large wok, add half the oil and fry the garlic, chilli and ginger until golden, about 2 mins.
                    Add the remaining oil, onion, pepper, spring onions, prawns, curry powder and noodles and stir-fry
                    for a few mins. Push everything to one side, add the egg and scramble. Add the soy sauce mixture,
                    toss again for a few more mins, then remove from the heat. Sprinkle over the coriander leaves before
                    serving.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/chowmein.jpg') }}" class="img-fluid rounded-start"
                alt="Chow mein">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Chow mein</h3>
                <br>
                <h5>Ingredients</h5>
                <ul>
                    <li>225g dried or fresh egg noodles</li>
                    <li>1 tbsp sesame oil, plus 1 tsp</li>
                    <li>100g boneless, skinless chicken breasts, cut into fine shreds</li>
                    <li>2½ tbsp groundnut oil</li>
                    <li>2 garlic cloves, finely chopped</li>
                    <li>50g mangetout, finely shredded</li>
                    <li>50g prosciutto or cooked ham, finely shredded</li>
                    <li>2 tsp light soy sauce</li>
                    <li>2 tsp dark soy sauce</li>
                    <li>1 tbsp Shaohsing rice wine or dry sherry</li>
                    <li>½ tsp freshly ground white pepper</li>
                    <li>½ tsp golden caster sugar</li>
                    <li>2 spring onions, finely chopped</li>
                    <li><strong>For the marinade</strong></li>
                    <li>2 tsp light soy sauce</li>
                    <li>2 tsp Shaohsing rice wine or dry sherry</li>
                    <li>1 tsp sesame oil</li>
                    <li>½ tsp freshly ground white pepper</li>
                </ul>
                <br>
                <h5>Method</h5>
                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Cook 225g egg noodles in a large pan of boiling water for 3-5 mins, then drain and put them in cold
                    water. Drain thoroughly, toss them with 1 tbsp sesame oil and set aside. Combine 100g chicken
                    breasts, cut into fine shreds, with 2 tsp light soy sauce, 2 tsp Shaohsing rice wine or dry sherry,
                    1 tsp sesame oil, ½ tsp white pepper and ½ tsp salt for the marinade, mix well and then leave to
                    marinate for about 10 mins.
                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Heat a wok over a high heat. Add 1 tbsp groundnut oil and, when it is very hot and slightly smoking,
                    add the chicken shreds. Stir-fry for about 2 mins and then transfer to a plate. Wipe the wok clean,
                    reheat until it is very hot then add 1½ tbsp groundnut oil.
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    When the oil is slightly smoking, add the 2 finely chopped garlic cloves and stir-fry for 10
                    seconds. Add 50g finely shredded mangetout and 50g finely shredded prosciutto, and stir-fry for
                    about 1 min. Add the noodles, 2 tsp light soy sauce, 2 tsp dark soy sauce,1 tbsp Shaohsing rice wine
                    or dry sherry, ½ tsp white pepper, ½ tsp golden caster sugar, 2 finely chopped spring onions and 1
                    tsp salt.
                    <br>

                    <strong>STEP 4</strong>
                    <br>
                    Stir-fry for 2 mins. Return the chicken and any juices to the noodle mixture. Stir-fry for about 3-4
                    mins or until the chicken is cooked. Add 1 tsp sesame oil and give the mixture a few final stirs.
                    Put on a warm platter and serve immediately.
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}