{% extends "base.html" %}
{% block content %}

    <div class="row featurette">
        <div class="col-md-7">

            <h4>Huge selection of delicious recipe ideas</h4>
            <p>
                Explore our huge selection of delicious recipe ideas including gorgeous meals from around the world, quick bakes and family-friendly recipes.
            </p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
                <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Generate Random Recipe</a>
            </div>
        </div>
        
        <div class="col-md-5">

            <img src="{{ url_for('static', filename= 'assets/img/hero-image-blob.png') }}" alt="">

        </div>
    </div>

    <!--category cards-->

    <h2 class="subheading">Categories</h2>

    <div class="row row-cols-2 row-cols-md-6 g-4">
        <a href="{{ url_for('american') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="card-img-top" alt="American Food">
                <div class="card-body">
                    <h5 class="card-title">American</h5>              
                </div>
            </div>
        </a>
        <a href="{{ url_for('thai') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/thai-food.jpeg') }}" class="card-img-top" alt="Thai Food">
                <div class="card-body">
                    <h5 class="card-title">Thai</h5>              
                </div>
            </div>
        </a>
        <a href="{{ url_for('italian') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/italian-food.jpeg') }}" class="card-img-top" alt="Italian Food">
                <div class="card-body">
                    <h5 class="card-title">Italian</h5>              
                </div>
            </div>
        </a>
        <a href="{{ url_for('indian') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/indian-food.jpeg') }}" class="card-img-top" alt="Indian Food">
                <div class="card-body">
                    <h5 class="card-title">Indian</h5>              
                </div>
            </div>
        </a>
        <a href="{{ url_for('mexican') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/mexican-food.jpeg') }}" class="card-img-top" alt="Mexican Food">
                <div class="card-body">
                    <h5 class="card-title">Mexican</h5>              
                </div>
            </div>
        </a>
        <a href="{{ url_for('chinese') }}" class="col text-center category_link">
            <div class="card category_img shadow">
                <img src="{{ url_for('static', filename= 'assets/img/chinese-food.jpeg') }}" class="card-img-top" alt="Chinese Food">
                <div class="card-body">
                    <h5 class="card-title">Chinese</h5>              
                </div>
            </div>
        </a>
    </div>

    <!--Latest Recipies-->

    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Latest Recipies</h2>
            <a href="#" class="ms-auto">View More</a>
        </div>

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <a href="#" class="col text-center category_link category-large">
                <div class="card card--large category_img large shadow">
                    <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="card-img-top image--large" alt="American Food">
                    <div class="card-body">
                        <h5 class="card-title">American Food</h5>              
                    </div>
                </div>
            </a>

            <a href="#" class="col text-center category_link category-large">
                <div class="card card--large category_img large shadow">
                    <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="card-img-top image--large" alt="American Food">
                    <div class="card-body">
                        <h5 class="card-title">American Food</h5>              
                    </div>
                </div>
            </a>

            <a href="#" class="col text-center category_link category-large">
                <div class="card card--large category_img large shadow">
                    <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="card-img-top image--large" alt="American Food">
                    <div class="card-body">
                        <h5 class="card-title">American Food</h5>              
                    </div>
                </div>
            </a>

            <a href="#" class="col text-center category_link category-large">
                <div class="card card--large category_img large shadow">
                    <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="card-img-top image--large" alt="American Food">
                    <div class="card-body">
                        <h5 class="card-title">American Food</h5>              
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!--submit-->

    <section class="px4 py-5 my-5 text-center">
        <img src="{{ url_for('static', filename= 'assets/img/american-food.jpeg') }}" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208">
        <h2 class="display-5 fw-bold">Publish your recipe for FREE today</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Publish your recipe in front of thousands of people for free.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                {% if session.user %}

                <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>

                {% else %}

                <a href="{{ url_for('register') }}" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>

                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}

