{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/dopiaza.jpg') }}" class="img-fluid rounded-start"
                alt="Chicken dopiaza">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Chicken dopiaza</h5>
                    <br>
                    <h5>Ingredients</h5>
                    <ul>
                        <li>3 chicken legs, bone-in, skin removed</li>
                        <li>3 chicken thighs, bone-in, skin removed</li>
                        <li>3 ginger, half grated, half cut into strips to serve</li>
                        <li>4 garlic cloves, finely grated</li>
                        <li>2 star anise</li>
                        <li>1 black cardamom pod</li>
                        <li>1 tsp cumin seeds</li>
                        <li>1 tsp coriander seeds, crushed using a pestle and mortar</li>
                        <li>3 green cardamom pods</li>
                        <li>½ tsp black peppercorns</li>
                        <li>2 dried red chillies</li>
                        <li>1 bay leaf</li>
                        <li>3 cinnamon stick</li>
                        <li>6 red onions, roughly chopped</li>
                        <li>1 tbsp full-fat yogurt</li>
                        <li>2 tbsp ghee (or 1 tbsp vegetable oil and 1 tbsp unsalted butter)</li>
                        <li>½ tsp turmeric</li>
                        <li>½ tsp freshly ground pepper</li>
                        <li>fresh coriander leaves, chopped</li>
                        <li>1 green chilli, finely chopped</li>
                        <li>½ tsp garam masala</li>
                        <li>½ lime</li>
                    </ul>
                    <br>
                    <h5>Method</h5>
                    <p class="card-text"><strong>STEP 1</strong>
                        <br>
                        Put the chicken, grated ginger, garlic, star anise, black cardamom, cumin seeds, coriander
                        seeds, green cardamom, black peppercorns, dried red chillies, bay leaf, cinnamon stick and half
                        the chopped onions in a wok or large frying pan over a medium heat. If it becomes too dry, add a
                        little water (no more than 4 tbsp). Reduce the heat to low, cover and cook until the chicken is
                        almost cooked through.
                        <br>
                        <br>

                        <strong>STEP 2</strong>
                        <br>
                        Add the yogurt and stir-fry on a high heat until the yogurt dries up. Now add the ghee (or oil
                        and butter) and, when hot, add the remaining onions, turmeric, freshly ground black pepper and
                        salt to taste.
                        <br>
                        <br>

                        <strong>STEP 3</strong>
                        <br>
                        Continue to cook over a high heat until the sauce is dryish and the second half of the onions
                        are nearly soft (although be careful not to overcook). Garnish with the ginger strips, fresh
                        coriander, green chilli, garam masala and a squeeze of lime juice. Serve immediately.
                    </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/pilau.jpg') }}"
                class="img-fluid rounded-start" alt="Easy pilau rice">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Easy pilau rice</h3>
                <br>
                <h5>Ingredients</h5>

                <ul>
                    <li>300g basmati rice</li>
                    <li>30g butter or 2 tbsp sunflower oil</li>
                    <li>1 large onion, chopped</li>
                    <li>1 cinnamon stick</li>
                    <li>1 tsp cumin seeds</li>
                    <li>6 cardamom pods, bashed</li>
                    <li>4 cloves</li>
                    <li>2 bay leaves</li>
                    <li>½ tsp ground coriander</li>
                    <li>½ tsp ground turmeric</li>
                    <li>500ml vegetable stock or water</li>
                </ul>
                <h5>Method</h5>

                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    If you have time, tip the rice into a large bowl and soak in cold water for 30 mins. Rinse in cold
                    running water, then drain well, rinse and drain again. Repeat until the water is only slightly
                    cloudy, then leave the rice in a sieve set over the sink to drain completely.

                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Heat the butter or oil in a lidded pan over a medium heat and gently fry the onion with a large
                    pinch of salt, stirring occasionally for 10 mins until soft and golden. Stir in the whole spices and
                    the bay and cook for 2 mins more. Add the ground coriander and turmeric, and cook for 1 min more.
                    Gently stir in the drained rice to coat it in the onion mixture, then pour over the stock or water
                    and stir well.
                    <br>
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Cover the pan with the lid and turn up the heat. Once hot, remove the lid, stir the rice, cover
                    again and reduce the heat to low. Cook for 2 mins, then turn the heat off completely and leave to
                    stand for 10 mins without removing the lid. Uncover, stir well, then cover again and leave to stand
                    for a final 5 mins. Fluff up with a fork before serving.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/pakora.jpg') }}" class="img-fluid rounded-start"
                alt="Paneer chutney pakora">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Paneer chutney pakora</h3>
                <br>
                <h5>Ingredients</h5>
                <ul>
                    <li><strong>For the chutney</strong></li>
                    <li>100g coriander</li>
                    <li>100g mint leaves</li>
                    <li>2 green chillies</li>
                    <li>1 lime, juiced</li>
                    <li><strong>For the batter</strong></li>
                    <li>100g gram (chickpea) flour</li>
                    <li>½ tsp chilli powder (ensure gluten-free, if necessary)</li>
                    <li>½ tsp ground turmeric</li>
                    <li>sunflower oil, for deep-frying</li>
                    <li>400g paneer</li>
                </ul>
                <br>
                <h5>Method</h5>
                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Blend the chutney ingredients with 1 tsp salt and ½ tsp sugar. Add 1-2 tbsp water if necessary - the
                    chutney should be a smooth paste. In a large bowl, mix the flour, chilli powder and turmeric with ½
                    tsp salt, and slowly pour in 110ml water. Whisk until you have a smooth consistency, like pancake
                    batter.
                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Fill a deep pan halfway up with oil and heat to 170C, or until a drop of batter sizzles. Cut the
                    block of paneer in half horizontally, then cut the halves into fingers, roughly 1cm wide. Spread a
                    paneer finger with some of the chutney, then place another finger on top to make a 'sandwich'.
                    Repeat until all of the paneer is used. Set aside any leftover chutney.
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Carefully dip each 'sandwich' into the gram flour batter until covered, then fry in the hot oil for
                    2-4 mins until deep golden. Serve the pakoras with the leftover chutney.
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}