{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/cacciatore.jpg') }}" class="img-fluid rounded-start"
                alt="Lighter chicken cacciatore">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Lighter chicken cacciatore</h5>
                    <br>
                    <h5>Ingredients</h5>
                    <ul>
                        <li>1 tbsp olive oil
                        <li>3 slices prosciutto, fat removed, chopped</li>
                        <li>1 medium onion, chopped</li>
                        <li>2 garlic cloves, finely chopped</li>
                        <li>2 sage sprigs</li>
                        <li>2 rosemary sprigs</li>
                        <li>4 skinless chicken breasts (550g total weight), preferably organic</li>
                        <li>150ml dry white wine</li>
                        <li>150ml dry white wine</li>
                        <li>400g can plum tomatoes in natural juice</li>
                        <li>1 tbsp tomato purée</li>
                        <li>225g chestnut mushrooms, quartered or halved if large</li>
                        <li>small handful chopped flat-leaf parsley, to serve</li>
                    </ul>
                    <br>
                    <h5>Method</h5>
                    <p class="card-text"><strong>STEP 1</strong>
                        <br>
                        Heat the oil in a large non-stick frying pan. Tip in the prosciutto and fry for about 2 mins
                        until crisp. Remove with a slotted spoon, letting any fat drain back into the pan, and set
                        aside. Put the onion, garlic and herbs in the pan and fry for 3-4 mins.
                        <br>
                        <br>

                        <strong>STEP 2</strong>
                        <br>
                        Spread the onion out in the pan, then lay the chicken breasts on top. Season with pepper and fry
                        for 5 mins over a medium heat, turning the chicken once, until starting to brown on both sides
                        and the onion is caramelising on the bottom of the pan. Remove the chicken and set aside on a
                        plate. Raise the heat, give it a quick stir and, when sizzling, pour in the wine and let it
                        bubble for 2 mins to reduce slightly.
                        <br>
                        <br>

                        <strong>STEP 3</strong>
                        <br>
                        Lower the heat to medium, return the prosciutto to the pan, then stir in the tomatoes (breaking
                        them up with your spoon), tomato purée and mushrooms. Spoon 4 tbsp of water into the empty
                        tomato can, swirl it around, then pour it into the pan. Cover and simmer for 15-20 mins or until
                        the sauce has thickened and reduced slightly, then return the chicken to the pan and cook,
                        uncovered, for about 15 mins or until the chicken is cooked through. Season and scatter over the
                        parsley to serve.
                    </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/norma.jpg') }}"
                class="img-fluid rounded-start" alt="Pasta alla norma">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Pasta alla norma</h3>
                <br>
                <h5>Ingredients</h5>

                <ul>
                    <li>2 aubergines, cut into 3cm chunks</li>
                    <li>1 heaped tsp salt</li>
                    <li>4 tbsp extra virgin olive oil</li>
                    <li>1 small onion, finely chopped</li>
                    <li>2 garlic cloves, crushed</li>
                    <li>pinch chilli flakes</li>
                    <li>2 x 400g tins chopped tomatoes</li>
                    <li>1 tsp sugar</li>
                    <li>350g spaghetti (egg-free, if needed)</li>
                    <li>small bunch basil, shredded, plus a few leaves to serve</li>
                    <li>1 heaped tbsp capers</li>
                    <li>ricotta salata or parmesan, finely grated, to serve (optional)</li>

                </ul>
                <h5>Method</h5>

                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Toss the aubergines with the salt, then tip into a colander set over a bowl for 30 mins, to extract
                    any moisture. Heat 2 tbsp of the oil in a casserole dish or saucepan. Tip in the onion and a pinch
                    of salt, and cook over a low heat for 10 mins. Add the garlic and chilli, and cook for 1 min. Tip in
                    the tomatoes and sugar, and bring to the simmer. Cook, uncovered, for 20 mins, stirring
                    occasionally. Heat the oven to 220C/200C fan/gas 7.

                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Pat the aubergine dry with kitchen paper, then toss with the remaining oil. Spread out on a baking
                    sheet and roast for 25-30 mins until softened and golden around the edges. Meanwhile, cook the pasta
                    following pack instructions, reserving 100ml of the cooking water.
                    <br>
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Stir the aubergine into the sauce with the basil and capers. Season to taste, then toss the
                    spaghetti in the pan with the sauce and a splash of the pasta water. Divide between four bowls and
                    top with the ricotta and extra basil, if using.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/bolognese.jpg') }}" class="img-fluid rounded-start"
                alt="Classic spaghetti Bolognese">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Classic spaghetti Bolognese</h3>
                <br>
                <h5>Ingredients</h5>
                <ul>
                    <li>2 tbsp oil
                    <li>1 large onion, finely chopped</li>
                    <li>2 celery sticks, finely chopped</li>
                    <li>2 carrots, finely chopped</li>
                    <li>50g pancetta cubes</li>
                    <li>400g lean beef mince</li>
                    <li>150g chicken livers, chopped, fat and sinew removed</li>
                    <li>1 large bay leaves</li>
                    <li>4 tbsp tomato purée</li>
                    <li>150ml white wine</li>
                    <li>500ml fresh chicken stock</li>
                    <li>300ml passata</li>
                    <li>500g pack spaghetti</li>
                    <li>50ml full-fat milk</li>
                    <li>parmesan, grated, to serve</li>
                </ul>
                <br>
                <h5>Method</h5>
                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Heat 1½ tbsp oil in a large pan or flameproof casserole dish over a low-medium heat. Add the onion,
                    celery and carrots with a pinch of salt. Cook for 10 mins, stirring occasionally, until softened but
                    not coloured. Transfer to a plate using a slotted spoon.
                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Pour the remaining oil into the pan, increase the heat and tip in the pancetta. Cook for 3-4 mins
                    until golden. Add the mince and chicken livers, and cook for a further 5 mins until browned,
                    breaking down the mince with the back of a wooden spoon.
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Return the vegetables to the pan and add the bay leaf and tomato purée. Cook for a 1 min more and
                    mix well. Pour in the wine and reduce by half. Add the stock and passata with some seasoning and
                    bring to the boil. Reduce the heat to medium and let the sauce bubble away for 35-40 mins, stirring
                    occasionally, until reduced by half and you are left with a thick ragu.
                    <br>

                    <strong>STEP 4</strong>
                    <br>
                    Bring a large saucepan of salted water to the boil 15 mins before the sauce is ready. Drop in the
                    pasta, cook following pack instructions until al dente, then drain. To finish the sauce, stir in the
                    milk and season to taste. Tip the pasta onto a plate and top with the Bolognese. Serve with the
                    Parmesan.
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}