{% extends "base.html" %}
{% block content %}

    <h2>Log In</h2>

<!--username-->

    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control validate" id="floatingInput" placeholder="User Name" minlength="4" maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" required>
            <label for="username">Username:</label>
        </div>

<!--password-->

        <div class="form-floating">
            <input type="password" name="password" class="form-control validate" id="floatingPassword" placeholder="Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" required>
            <label for="floatingPassword">Password</label>
        </div>

<!--sign up-->

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="login"><i class="fas fa-sign-in-alt"></i> Log In</button>
        </div>
    </form>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New here? <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}