{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/rancheros.jpg') }}" class="img-fluid rounded-start"
                alt="Huevos rancheros">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Huevos rancheros</h5>
                    <br>
                    <h5>Ingredients</h5>
                    <ul>
                        <li>2 tbsp olive oil</li>
                        <li>1 small onion, diced</li>
                        <li>2 garlic cloves, crushed</li>
                        <li>400g can red kidney beans, drained and rinsed</li>
                        <li>1 tsp ground cumin</li>
                        <li>¼ tsp chilli powder</li>
                        <li>½ tsp dried oregano</li>
                        <li>4 eggs</li>
                        <li>4 small flour tortillas, warmed</li>
                        <li>1 large tomato, diced</li>
                        <li>handful pickled jalapeño peppers, roughly chopped</li>
                        <li>30g cheddar, grated</li>
                        <li>1 avocado, peeled, de-stoned and diced</li>
                        <li>1 lime, half juiced, half cut into wedges, to serve</li>
                        <li>chopped coriander, to serve</li>
                    </ul>
                    <br>
                    <h5>Method</h5>
                    <p class="card-text"><strong>STEP 1</strong>
                        <br>
                        Heat 1 tbsp oil in a large pan. Add the onions with a pinch of salt, and cook until translucent,
                        around 3-4 mins. Add the garlic and cook for a minute more. Stir in the beans, cumin, chilli
                        powder, oregano, some seasoning and 100ml water. Cook for 5-7 mins, stirring occasionally, or
                        until the beans have softened, then remove from the heat, mash and set aside.
                        <br>
                        <br>

                        <strong>STEP 2</strong>
                        <br>
                        Heat the remaining oil in a large frying pan over a medium-high heat. Crack in the eggs, then
                        reduce the heat to low and cook slowly until the whites are completely firm.
                        <br>
                        <br>

                        <strong>STEP 3</strong>
                        <br>
                        To assemble, spread the beans onto the tortillas, add the tomatoes and jalapeños and sprinkle
                        with cheese. Top with some avocado, a squeeze of lime juice and a fried egg, then scatter with
                        coriander. Serve with the lime wedges on the side.
                    </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/enchiladas.jpg') }}"
                class="img-fluid rounded-start" alt="Beef enchiladas">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Beef enchiladas/h3>
                <br>
                <h5>Ingredients</h5>

                <ul>
                    <li>2 tsp olive or rapeseed oil</li>
                    <li>1 onion, finely chopped</li>
                    <li>400g beef mince</li>
                    <li>2 large garlic cloves, crushed or finely grated</li>
                    <li>2 tsp dried oregano</li>
                    <li>2 tsp ground cumin</li>
                    <li>2 tsp smoked paprika</li>
                    <li>½-1 tsp chilli powder (optional)</li>
                    <li>2 tbsp tomato purée</li>
                    <li>400g can chopped tomatoes</li>
                    <li>400g can black beans</li>
                    <li>1 vegetable or chicken stock cube</li>
                    <li>8 medium tortillas</li>
                    <li>100g mature cheddar, grated</li>
                    <li>coriander leaves, to serve</li>
                </ul>
                <h5>Method</h5>

                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Heat the oil in a large frying pan or saucepan over a medium-low heat and fry the onion for 6-8 mins
                    until softened but not golden. Tip in the beef mince and continue to fry until the beef has browned,
                    about 5 mins. Stir in the garlic and cook for 1-2 mins before stirring in the oregano, cumin,
                    paprika and chilli powder, if using. Cook for 1 min more.

                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Add the tomato purée, tomatoes and black beans, including the liquid from the can of beans. Crumble
                    in the stock cube. Stir well, then add half a can of water and bring to a simmer. Simmer for 30 mins
                    until the sauce has thickened. Remove from the heat.
                    <br>
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Heat the oven to 200C/180C fan/gas 6. Spoon an eighth of the beef mixture down the centre of one of
                    the tortillas, then fold the sides in to enclose the filling. Arrange seam-side down in a large
                    ovenproof dish, and repeat until all the filling and tortillas have been used, tucking the
                    enchiladas next to one another snugly. Scatter the cheese over the top and bake for 15-20 mins until
                    the cheese has melted and the tortillas are golden. Scatter over the coriander leaves to serve.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename= 'assets/img/tacos.jpg') }}" class="img-fluid rounded-start"
                alt="Birria tacos">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Birria tacos</h3>
                <br>
                <h5>Ingredients</h5>
                <ul>
                    <li>1 tbsp sunflower oil</li>
                    <li>1½ kg braising steak, cut into 15cm cubes</li>
                    <li>4 guajillo chillies (available online), stem and seeds removed, or dried chillies</li>
                    <li>1 large ancho chilli (available online), stem and seeds removed</li>
                    <li>4 arbol chillies (available online; optional)</li>
                    <li>2 medium tomatoes, cut in half</li>
                    <li>1 medium onion, quartered</li>
                    <li>2 garlic cloves</li>
                    <li>½ tsp dried oregano</li>
                    <li>½ tsp ground cumin</li>
                    <li>½ tsp ground cinnamon</li>
                    <li>½ tsp ground ginger</li>
                    <li>2 cloves</li>
                    <li>3 black peppercorns</li>
                    <li>1 tsp white wine vinegar</li>
                    <li>2 bone marrow discs (ask your butcher)</li>
                    <li>15g sea salt flakes</li>
                    <li>2 bay leaves</li>
                    <li><strong>To serve</strong></li>
                    <li>handful of coriander, chopped</li>
                    <li>1 white onion, finely chopped</li>
                    <li>spicy salsa</li>
                    <li>2 limes, cut into small wedges</li>
                    <li>24 warmed corn tortillas (optional)</li>
                    <li>grated mozzarella (optional)</li>
                </ul>
                <br>
                <h5>Method</h5>
                <p class="card-text"><strong>STEP 1</strong>
                    <br>
                    Heat the oil in a large, heavy- based, ovenproof saucepan over a medium-high heat and brown the
                    braising steak all over, about 8-10 mins. Set aside. Heat a frying pan over a medium heat and toast
                    the guajillo and ancho chillies for 2 mins, making sure not to burn them. If you want the birria to
                    be spicy, add the arbol chillies. Transfer to a lidded saucepan with the tomatoes and onion. Peel
                    the garlic and add this, too. Add 500ml water, cover, bring to the boil, then reduce the heat to a
                    simmer and cook for 5 mins. Turn the heat off and set aside to cool.
                    <br>
                    <br>

                    <strong>STEP 2</strong>
                    <br>
                    Transfer the tomatoes, onion and chillies to a blender, reserving the cooking liquor. Add the
                    spices, vinegar and 2 tbsp of the cooking liquor to the blender, then blend until smooth. Heat the
                    oven to 140C/120C fan/gas 1. Put the meat back over a medium heat, then add the bone marrow, salt
                    and bay leaves. Pass the blended chilli sauce through a sieve into the pan to ensure it’s silky
                    smooth. Pour in 1 litre water and the remaining cooking liquor. Cover and transfer to the oven for 3
                    hrs until the meat is tender and falling apart. After 1 hr 30 mins, season to taste.
                    <br>

                    <strong>STEP 3</strong>
                    <br>
                    Remove the meat from the broth using a slotted spoon, transfer to a board and shred using two forks.
                    The broth should have thickened. To serve, put shredded beef in a bowl, pour over the broth, then
                    garnish with the coriander, onion and spicy salsa. Serve with limes on the side for squeezing over.
                    Or, heat a corn tortilla, add some shredded birria beef and garnish with the coriander, onion and a
                    squeeze of lime, and serve the broth on the side in a small cup. To make a quesabirria, heat a corn
                    tortilla, add some grated mozzarella cheese and some of the beef. Once the cheese has melted, pour 1
                    tbsp of the broth under and over the tortilla, and serve more broth on the side.
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}