{% extends "base.html" %}
{% block content %}

    <h2>Upload your recipe</h2>

    
    <div class="accordion" id="accordionExample">        
        {% for recipies in recipe %}    
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <div class="accordion-button" type="button, text" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>{{ recipies.recipe_name }}</strong>
                             
                </div>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('edit_recipe',recipe_id=recipies._id)}}" class="btn btn-primary btn-dark btn-small " id="edit-btn">Edit</a> 
                <a href="" class="btn btn-primary btn-dark btn-small " id="delete-btn">Delete</a>
                {% endif %}                
            </h2>
            
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img src="{{recipe.recipe_image}}">
                    <strong>Ingredients</strong>
                    <p>{{ recipies.recipe_ingredients }}</p>                    
                    <strong>Method</strong>                    
                    <p>{{ recipies.recipe_method }}</p>
                    <strong>Origin:</strong>{{ recipies.category_name }}
                    <strong>Published:</strong>{{ recipies.date_added }}                   
                </div>
            </div>
        </div>
        
        {% endfor %}        
    </div>
    

{% endblock %}