{% extends "base.html" %}
{% block content %}

    <h2>Register to create your own account today</h2>

    <p>By creating your own account you will be able to build your very own online-cookbook, 
        saving all your favorite recipies in one convinient location.</p>

<!--username-->

    <form method="POST" action="{{ url_for('register') }}">
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control validate" id="floatingInput" placeholder="User Name" required>
            <label for="username">Username:</label>
        </div>

<!--email address-->

        <div class="form-floating mb-3">
            <input type="text" name="email" class="form-control validate" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

<!--password-->

        <div class="form-floating">
            <input type="password" name="password" class="form-control validate" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

<!--sign up-->

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="register"><i class="fas fa-sign-in-alt"></i> Register</button>
        </div>
    </form>

{% endblock %}